body {
  background-color: aliceblue;
}

img {
  height: 200px;
  background-size: cover;
  background-position: center;
}

#button-container {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: space-between;
}
